@font-face {
  font-family: "Segoe UI";
  src: url("/public/fonts/Segoe-UI-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/public/fonts/Segoe-UI.ttf");
  font-weight: 400;
}
